<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vehicle Marketplace{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <h1>
        <a href="{% url 'products:product_list' %}">
            Vehicle Marketplace
        </a>
    </h1>
    <hr>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <hr>
    <p>&copy; 2026 Vehicle Marketplace</p>
</footer>

</body>
</html>
