{% extends "core/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="button">Log in</button>
    </form>

    <div style="margin-top: 1rem;">
        <a href="/" class="button">← Back to vehicles</a>
    </div>

    <p style="margin-top: 1rem;">
        Don’t have an account?
        <a href="{% url 'signup' %}">Create one</a>
    </p>
</div>
{% endblock %}
