{% extends "core/base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<h2>Available Vehicles</h2>

<nav>
    <strong>Categories:</strong>
    <a href="{% url 'products:product_list' %}">All</a>
    {% for category in categories %}
        |
        <a href="?category={{ category.slug }}">
            {{ category.name }}
        </a>
    {% endfor %}
</nav>

<hr>

{% if products %}
    <ul>
        {% for product in products %}
            <li>
               {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
              {% endif %}
                <h3>
                    <a href="{% url 'products:product_detail' product.slug %}">
                        {{ product.name }}
                    </a>
                </h3>
                <p>£{{ product.price }}</p>
                <p>{{ product.year }} · {{ product.mileage }} miles</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products available in this category.</p>
{% endif %}
{% endblock %}
